body {
    background: url("../images/triBackgroungGrey.jpg");
}

.header {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(190, 82, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.instructions {
    box-sizing: border-box;
    height: 500px;
    width: 50%;
    background-color: #FAE3C6;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify; 
}

.instructions div {
    padding: 10px;
}

#container {
    padding-top: 20px;
    overflow: auto;
    background-color: turquoise;
    font-size: 20px;
}

#container-aside {
    padding-top: 20px;
    width: 200px;
    height: 200px;
    background-color: green;
    font-size: 20px;
}
#wantedScore{
    font-weight: bold;
    font-size: 30px;
}
/* .crystals {
    width: 150px;
    height: 150px;
    margin: 15px; 
} */


/* .container
#wantedScore

header
h1
h2
h3
p

.footer */

