body {
    background: url("../images/triBackgroungGrey.jpg");
}

.header {
    box-sizing: border-box;
    padding: 10px;
    width: 40%;
    background-color: rgb(190, 82, 10);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-stretch: condensed;
}

.instructions {
    box-sizing: border-box;
    height: 600px;
    width: 40%;
    background-color: #FAE3C6;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify; 
    color: green;
    font-weight: bold;
}

.instructions div {
    padding: 10px;
}

#container {
    padding-top: 20px;
    overflow: auto;
    background-color: green;
    font-size: 20px;
}

#container-aside {
    padding-top: 20px;
    width: 200px;
    background-color: turquoise;
    font-size: 20px;
  
}
#wantedScore{
    font-weight: bold;
    font-size: 30px;
}

.images {
    padding: auto;
}

.score {
    padding-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 30%;
    background-color: green;
    font-size: 20px;
}

#yourScore {
    padding-top: 20px;
    margin-top: 10px;
    width: 30%;
    white-space: nowrap;
    background-color: green;
    font-weight: bold;
    font-size: 30px;
}

/* .container
#wantedScore

header
h1
h2
h3
p

.footer */

